.app {
  background-color: #001029;
  background-image: url('./bg.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.app_page_error {
  background-image: none;
  background-color: #dfd6c8;
}
